<div class="row m-0 p-0">
  <div class="col-md-2 co-lg-2 col-sm-12 col-xs-12">
     <div class="row sidebar">
        <div class="col-md-12 co-lg-12">
           <div class="row pad-5 pointer">
              <div class="col-md-3 co-lg-3">
                 <img class="center user-img" src="../assets/images/img/image.png" alt="">
              </div>
              <div class="col-md-7 co-lg-7">
                 <p class="black font f-s-12 bold user-name" href=""> Amit Kapoor</p>
              </div>
              <div class="col-md-2 co-lg-2">
                 <img class="float-right user-icon" src="../assets/images/icons/Vector (12).png" alt="">
              </div>
           </div>
           <div class="row item pointer">
              <div class="col-md-3 co-lg-3">
                 <img class="float-right" src="../assets/images/icons/ant-design_home-outlined.png" alt="">
              </div>
              <div class="col-md-9 co-lg-9">
                 <a class="black font f-s-14" href=""> Home</a>
              </div>
           </div>
           <div class="row item pointer">
              <div class="col-md-3 co-lg-3">
                 <img class="float-right" src="../assets/images/icons/Vector (1).png" alt="">
              </div>
              <div class="col-md-9 co-lg-9">
                 <a class="black font f-s-14" href=""> Dashboard</a>
              </div>
           </div>
           <div class="row item pointer">
              <div class="col-md-3 co-lg-3">
                 <img class="float-right" src="../assets/images/icons/carbon_query-queue.png" alt="">
              </div>
              <div class="col-md-9 co-lg-9">
                 <a class="black font f-s-14" routerLink="/my-queue"> My Queue</a>
              </div>
           </div>
           <div class="row item pointer">
              <div class="col-md-3 co-lg-3">
                 <img class="float-right" src="../assets/images/icons/Vector (4).png" alt="">
              </div>
              <div class="col-md-9 co-lg-9">
                 <a class="black font f-s-14" href=""> Search Tickets</a>
              </div>
           </div>
           <div class="row item pointer">
              <div class="col-md-3 co-lg-3">
                 <img class="float-right" src="../assets/images/icons/Notepad.png" alt="">
              </div>
              <div class="col-md-9 co-lg-9">
                 <a class="black font f-s-14" routerLink="/user-admin/my-ticket">Submit Ticket</a>
              </div>
           </div>
           <div class="row item pointer">
              <div class="col-md-3 co-lg-3">
                 <img class="float-right" src="../assets/images/icons/Ticket.png" alt="">
              </div>
              <div class="col-md-9 co-lg-9">
                 <a class="black font f-s-14" > My Tickets </a>
              </div>
           </div>
           <div class="row item pointer">
              <div class="col-md-3 co-lg-3">
                 <img class="float-right" src="../assets/images/icons/Vector.png" alt="">
              </div>
              <div class="col-md-9 co-lg-9">
                 <a class="black font f-s-14" href=""> Report</a>
              </div>
           </div>
           <div class="row item pointer">
              <div class="col-md-3 co-lg-3">
                 <img class="float-right" src="../assets/images/icons/fluent_person-feedback-20-regular.png" alt="">
              </div>
              <div class="col-md-9 co-lg-9">
                 <a class="black font f-s-14" href=""> Feedback</a>
              </div>
           </div>
           <div class="row item pointer">
              <div class="col-md-3 co-lg-3">
                 <img class="float-right" src="../assets/images/icons/Group.png" alt="">
              </div>
              <div class="col-md-9 co-lg-9">
                 <a class="black font f-s-14" href=""> Directory</a>
              </div>
           </div>
           <div class="row item pointer">
              <div class="col-md-3 co-lg-3">
                 <img class="float-right" src="../assets/images/icons/Help.png" alt="">
              </div>
              <div class="col-md-9 co-lg-9">
                 <a class="black font f-s-14" href=""> Help</a>
              </div>
           </div>
           <div class="row item pointer">
              <div class="col-md-3 co-lg-3">
                 <img class="float-right" src="../assets/images/icons/Vector (12).png" alt="">
              </div>
              <div class="col-md-9 co-lg-9">
                 <a class="black font f-s-14" href=""> Last Login</a>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="col-md-10 co-lg-10 col-sm-12 col-xs-12" style="background: rgba(0, 0, 0, 0.1);">
  <div class="row pad-2">
  <div class="col-md-12 co-lg-12">