<div class="row my-5">
  <div class="col-md-4 co-lg-4 pe-5">
     <div class="row div1 pad-3 pointer">
        <div class="col-md-3 co-lg-3">
           <img class="float-right top-img" src="../../assets/images/icons/1.png" alt="">
        </div>
        <div class="col-md-9 co-lg-9">
           <span class="black font no">05</span> <span class="f-s-13">NEW TICKET</span>
        </div>
     </div>
  </div>
  <div class="col-md-4 co-lg-4 pe-5">
     <div class="row div2 pad-3 pointer">
        <div class="col-md-3 co-lg-3">
           <img class="float-right top-img" src="../../assets/images/icons/2.png" alt="">
        </div>
        <div class="col-md-9 co-lg-9">
           <span class="black font no">06</span> <span class="f-s-13">PENDING TICKET</span>
        </div>
     </div>
  </div>
  <div class="col-md-4 co-lg-4">
     <div class="row div3 pad-3 pointer">
        <div class="col-md-3 co-lg-3">
           <img class="float-right top-img" src="../../assets/images/icons/3.png" alt="">
        </div>
        <div class="col-md-9 co-lg-9">
           <span class="black font no">05</span> <span class="f-s-13">NOTIFICATION</span>
        </div>
     </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-lg-12">
     <h3 class="mb-4">NEW TICKETS</h3>
  </div>
  <div class="col-md-12 co-lg-12">
     <div class="row new-tickets-tbl pad-3 ">
        <table class="table">
           <thead>
              <tr>
                 <th scope="col">TICKET#</th>
                 <th scope="col">SOURCE</th>
                 <th scope="col">AGE</th>
                 <th scope="col">TITLE</th>
                 <th scope="col">STATE</th>
                 <th scope="col">QUEUE</th>
              </tr>
           </thead>
           <tbody>
              <tr>
                 <td>20211207SSS142</td>
                 <td >Mark</td>
                 <td>Otto</td>
                 <td>@mdo</td>
                 <td>@mdo</td>
                 <td>@mdo</td>
              </tr>
              <tr>
                 <td>20211207SSS142</td>
                 <td>Jacob</td>
                 <td>Thornton</td>
                 <td>@fat</td>
                 <td>@fat</td>
                 <td>@fat</td>
              </tr>
              <tr>
                 <td>20211207SSS142</td>
                 <td >Jacob</td>
                 <td>@twitter</td>
                 <td>@twitter</td>
                 <td>@twitter</td>
                 <td>@twitter</td>
              </tr>
           </tbody>
        </table>
     </div>
  </div>
  <div _ngcontent-rih-c21="" class="col-md-12 col-lg-12 my-4 ">
     <img src="../../assets/images/icons/next-prv.png" alt="" class="pagi-position">
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-lg-12">
     <h3 class="mb-4">PENDING TICKETS</h3>
  </div>
  <div class="col-md-12 co-lg-12">
     <div class="row new-tickets-tbl pad-3 ">
        <table class="table">
           <thead>
              <tr>
                 <th scope="col">TICKET#</th>
                 <th scope="col">SOURCE</th>
                 <th scope="col">AGE</th>
                 <th scope="col">TITLE</th>
                 <th scope="col">STATE</th>
                 <th scope="col">QUEUE</th>
              </tr>
           </thead>
           <tbody>
              <tr>
                 <td>20211207SSS142</td>
                 <td>Mark</td>
                 <td>Otto</td>
                 <td>@mdo</td>
                 <td style="color:red">Open</td>
                 <td>@mdo</td>
              </tr>
              <tr>
                 <td>20211207SSS142</td>
                 <td>Jacob</td>
                 <td>Thornton</td>
                 <td>@fat</td>
                 <td>@fat</td>
                 <td>@fat</td>
              </tr>
              <tr>
                 <td>20211207SSS142</td>
                 <td>Jacob</td>
                 <td>@twitter</td>
                 <td>@twitter</td>
                 <td style="color:red">Open</td>
                 <td>@twitter</td>
              </tr>
           </tbody>
        </table>
     </div>
  </div>
  <div _ngcontent-rih-c21="" class="col-md-12 col-lg-12 my-4 ">
     <img src="../../assets/images/icons/next-prv.png" alt="" class="pagi-position">
  </div>
</div>