<app-header></app-header>
<section class="login-section">
    <div class="row">
       <div class="col-md-8 co-lg-8"> </div>
       <div class="col-md-4 co-lg-4 ">
          <div class="row login-bg pad-6 ">
             <div class="col-md-12 co-lg-3">
                <div class="d-flex">
                   <h2 class="bold font login-title">LOGIN HERE</h2>
                   <img src="../../assets/images/icons/HandPointing.png" alt="">
                </div>
                <br>
                <div class="row input-bg pad-1">
                   <div class="col-md-2 co-lg-2 mar-0 pad-4 left-icon">
                      <img class="center" src="../../assets/images/icons/username.png" alt="">
                   </div>
                   <div class="col-md-10 co-lg-10 mar-0 pad-0">
                      <input type="email" class="form-control pad-4 border-none" placeholder="User Name">
                   </div>
                </div>
                <br>
                <div class="row input-bg pad-1">
                   <div class="col-md-2 co-lg-2 mar-0 pad-4 left-icon">
                      <img class="center" src="../../assets/images/icons/pass.png" alt="">
                   </div>
                   <div class="col-md-10 co-lg-10 mar-0 pad-0">
                      <input type="email" class="form-control pad-4 border-none" placeholder="User Name">
                   </div>
                </div>
                <br>
                <div class="row  pad-1">
                   <div class="col-md-7 co-lg-7 mar-0 pad-0">
                      <label class="form-label">Enter Captcha</label>
                      <input type="email" class="form-control captcha-input">
                   </div>
                   <div class="col-md-5 co-lg-5  mar-0 pad-4 ">
                      <h2 class="font bold captcha"><i>KWKBC</i> </h2>
                   </div>
                </div>
                <div class="row  pad-1">
                   <div class="col-md-12 co-lg-12 mar-0 pad-0">
                      <a class="form-label forget pointer">Forget password? </a>
                   </div>
                </div>
             </div>
          </div>
          <div style=" margin-top: -7%;" class=" center lohin-btn">
             <button type="button" routerLink="/user-admin/dashboard" class="btn">&#8594;</button>
          </div>
       </div>
    </div>
 </section>
 <section class="pad-5 ">
    <div class="row patner-strip">
       <div class="col-md-2 co-lg-2 p-3">
          <div class="row one pad-6 pointer divborder-radius height">
             <div class="col-md-3 co-lg-3 item-align">
                <p class="black font no">150</p>
             </div>
             <div class="col-md-9 co-lg-9">
                <span class="f-s-14 center text-strip">registered users</span>
             </div>
          </div>
       </div>
       <div class="col-md-2 co-lg-2 p-3">
          <div class="row two pad-6 pointer divborder-radius ">
             <div class="col-md-3 co-lg-3">
                <p class="black font no">31 </p>
             </div>
             <div class="col-md-9 co-lg-9">
                <span class="f-s-14 center text-strip">Onboarded
                Services</span>
             </div>
          </div>
       </div>
       <div class="col-md-2 co-lg-2 p-3">
          <div class="row three pad-6 pointer divborder-radius ">
             <div class="col-md-3 co-lg-3">
                <p class="black font no">256 </p>
             </div>
             <div class="col-md-9 co-lg-9">
                <span class="f-s-14 center text-strip">Tickets
                Resolved</span>
             </div>
          </div>
       </div>
       <div class="col-md-2 co-lg-2 p-3">
          <div class="row foru pad-6 pointer divborder-radius ">
             <div class="col-md-3 co-lg-3">
                <p class="black font no">150 </p>
             </div>
             <div class="col-md-9 co-lg-9">
                <span class="f-s-14 center text-strip">Tickets
                Registered</span>
             </div>
          </div>
       </div>
       <div class="col-md-2 co-lg-2 p-3">
          <div class="row five pad-6 pointer divborder-radius height" >
             <div class="col-md-3 co-lg-3">
                <p class="black font no">98 </p>
             </div>
             <div class="col-md-9 co-lg-9">
                <span class="f-s-14 center text-strip">FTRs</span>
             </div>
          </div>
       </div>
       <div class="col-md-2 co-lg-2 p-3">
          <div class="row six pad-6 pointer divborder-radius ">
             <div class="col-md-4 co-lg-4">
                <p class="black font no">1250 </p>
             </div>
             <div class="col-md-8 co-lg-8">
                <span class="f-s-14 center text-strip">Calls
                Received</span>
             </div>
          </div>
       </div>
    </div>
 </section>
 <div class="container-fluid bgg-gray">
    <div class="row ">
       <ul class="ul-style">
          <li><img src="../../../assets/images/img/gov.png" alt=""></li>
          <li><img src="../../../assets/images/img/digital-india.png" alt=""></li>
          <li><img src="../../../assets/images/img/nknetwork.png" alt=""></li>
          <li><img src="../../../assets/images/img/cov.png" alt=""></li>
          <li><img src="../../../assets/images/img/indiagov.png" alt=""></li>
          <li><img src="../../../assets/images/img/egeeting.png" alt=""></li>
          <li><img src="../../../assets/images/img/samprak.png" alt=""></li>
          <li><img src="../../../assets/images/img/mygov.png" alt=""></li>
       </ul>
    </div>
 </div>
 <app-footer></app-footer>