



<div class="container-fluid bg-black">
    <div class="row ">
       <div class="col-lg-3 col-md-3 footer-section-first">
          <img src="../../../assets/images/icons/nic.png" alt="">
       </div>
       <div class="col-lg-9 col-md-9 footer-section-sec">
          <ul class="ul-style">
             <li>Website Guidelines</li>
             <li>Service Catalog</li>
             <li>Disclaimer</li>
             <li>Search Your NIC Coordinator</li>
             <li>Contact Us</li>
             <li>Help</li>
             <li>Service Registration Form</li>
          </ul>
       </div>
    </div>
 </div>