
  <div class="row mb-4">
    <div class="col-md-12 col-lg-12">
        <h3 class="mb-2 text-uppercase">Last Login Details</h3>
     </div>
  </div>
  <div class="row">
    <div class="col-md-12 co-lg-12">
       <div class="row new-tickets-tbl pad-3 ">
          <table class="table">
             <thead>
                <tr class="text-uppercase">
                   <th scope="col">#</th>
                   <th scope="col">IP Address</th>
                   <th scope="col">Operating System</th>
                   <th scope="col">Browser</th>
                   <th scope="col">rEPORT/rEVOKE</th>
                   <th scope="col">rEPORT/rEVOKE</th>
                </tr>
             </thead>
             <tbody>
                <tr>
                    <td>1</td>
                   <td>20211207SSS142</td>
                   <td>Otto</td>
                   <td>@mdo</td>
                   <td>@mdo</td>
                   <td><span class="text-uppercase "><fa-icon [icon]="faEdit" class="fa-edit me-4">p1</fa-icon> <fa-icon [icon]="faTrash" class="fa-del"></fa-icon></span></td>
                </tr>
                <tr>
                    <td>2</td>
                   <td>20211207SSS142</td>
                   <td>Thornton</td>
                   <td>@fat</td>
                   <td>@fat</td>
                   <td><span class="text-uppercase "><fa-icon [icon]="faEdit" class="fa-edit me-4">p1</fa-icon> <fa-icon [icon]="faTrash" class="fa-del"></fa-icon></span></td>
                </tr>
                <tr>
                    <td>3</td>
                   <td>20211207SSS142</td>
                   <td>@twitter</td>
                   <td>@twitter</td>
                   <td>@twitter</td>
                   <td><span class="text-uppercase "><fa-icon [icon]="faEdit" class="fa-edit me-4">p1</fa-icon> <fa-icon [icon]="faTrash" class="fa-del"></fa-icon></span></td>
                </tr>
             </tbody>
          </table>
       </div>
    </div>
    <div _ngcontent-rih-c21="" class="col-md-12 col-lg-12 my-4 ">
       <img src="../../assets/images/icons/next-prv.png" alt="" class="pagi-position">
    </div>
  </div>
  