.bg-td-red{
    padding: 0px 10px;
    background-color: #FE8D8D;
}
.bg-td-green{
    padding: 0px 10px;
    background-color: #53BE9E;
}
.bg-td-yellow{
    padding: 0px 10px;
    background-color: #FFDB7C;
}
.icon-yellow{
    color: #FFDB7C;
}
.bluk-section{
    background: #D3D3D3;
border-radius: 6px;
}
.btnn{
    border-radius: 4px;
    border: none;
}
.btn-yellow{
    background: #FFB449;
}
.btn-dark-blue{
    background: #161E44;
    color: #ffffff;
}
.btn-light-blue{
    background: #8F97FC;
}