
  <div class="row mb-4">
    <div class="col-md-12 col-lg-12">
        <h3 class="mb-4">NEW TICKETS</h3>
     </div>
    <div class="col-md-6 col-lg-6 col-sm-12">
        <button class="btnn btn-yellow text-uppercase me-2">open (95)</button>
        <button class="btnn btn-light-blue text-uppercase me-2">Close (06) </button>
        <button class="btnn btn-dark-blue text-uppercase me-2">pENDING WITH CUSTOMER (03)</button>
  </div>
  <div class="col-md-6 col-lg-6 col-sm-12 d-sm-none d-md-block">

</div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12 p-0">
        <p class="bluk-section text-uppercase mb-2 ps-3">bluk</p>
     </div>
    <div class="col-md-12 co-lg-12">
       <div class="row new-tickets-tbl pad-3 ">
          <table class="table">
             <thead>
                <tr class="text-uppercase">
                   <th scope="col"><input type="checkbox" class="me-2">TICKET#</th>
                   <th scope="col">AGE</th>
                   <th scope="col">TITLE</th>
                   <th scope="col">assigned to</th>
                   <th scope="col">state</th>
                   <th scope="col">queue</th>
                   <th scope="col">priority</th>
                </tr>
             </thead>
             <tbody>
                <tr>
                   <td><input type="checkbox" class="me-2">20211207SSS142</td>
                   <td >Mark</td>
                   <td>Otto</td>
                   <td>@mdo</td>
                   <td>@mdo</td>
                   <td>@mdo</td>
                   <td><span class="text-uppercase "><span class="bg-td-yellow me-4">p1</span> <fa-icon [icon]="faStar" class="icon-yellow"></fa-icon></span></td>
                </tr>
                <tr>
                   <td><input type="checkbox" class="me-2">20211207SSS142</td>
                   <td>Jacob</td>
                   <td>Thornton</td>
                   <td>@fat</td>
                   <td>@fat</td>
                   <td>@fat</td>
                   <td><span class="text-uppercase "><span class="bg-td-red me-4">p1</span> <fa-icon [icon]="faStar" class="icon-yellow"></fa-icon></span></td>
                </tr>
                <tr>
                   <td><input type="checkbox" class="me-2">20211207SSS142</td>
                   <td >Jacob</td>
                   <td>@twitter</td>
                   <td>@twitter</td>
                   <td>@twitter</td>
                   <td>@twitter</td>
                   <td><span class="text-uppercase "><span class="bg-td-red me-4">p1</span> <fa-icon [icon]="faStar" class="icon-yellow"></fa-icon></span></td>
                </tr>
             </tbody>
          </table>
       </div>
    </div>
    <div _ngcontent-rih-c21="" class="col-md-12 col-lg-12 my-4 ">
       <img src="../../assets/images/icons/next-prv.png" alt="" class="pagi-position">
    </div>
  </div>
  