<div class="row">
   <div class="col-md-12 col-lg-12">
      <h3 class="mb-4 text-uppercase">Queues</h3>
   </div>
   <div class="col-md-12 co-lg-12">
      <div class="row new-tickets-tbl pad-3 ">
         <table class="table">
            <thead>
               <tr>
                  <th scope="col">NAME</th>
                  <th scope="col">PENDING TICKETS</th>
                  <th scope="col">HIGH PRIORITY TICKETS</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>20211207SSS142</td>
                  <td >Mark</td>
                  <td>Otto</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   <div class="col-md-12 col-lg-12 my-4 ">
      <img src="../../assets/images/icons/next-prv.png" alt="" class="pagi-position">
   </div>
 </div>


  <div class="row">
    <div class="col-md-12 col-lg-12">
       <h3 class="mb-4 text-uppercase" >Sub queues of selected queue</h3>
    </div>
    <div class="col-md-12 co-lg-12">
       <div class="row new-tickets-tbl pad-3 ">
         <table class="table">
            <thead>
               <tr>
                  <th scope="col">NAME</th>
                  <th scope="col">PENDING TICKETS</th>
                  <th scope="col">HIGH PRIORITY TICKETS</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>20211207SSS142</td>
                  <td >Mark</td>
                  <td>Otto</td>
               </tr>
            </tbody>
         </table>
       </div>
    </div>
    <div class="col-md-12 col-lg-12 my-4 ">
       <img src="../../assets/images/icons/next-prv.png" alt="" class="pagi-position">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12">
       <h3 class="mb-4 text-uppercase">TICKETS</h3>
    </div>
    <div class="col-md-12 co-lg-12">
       <div class="row new-tickets-tbl pad-3 ">
          <table class="table">
             <thead>
                <tr class="text-uppercase">
                   <th scope="col">TICKET#</th>
                   <th scope="col">AGE</th>
                   <th scope="col">queue</th>
                   <th scope="col">STATE</th>
                </tr>
             </thead>
             <tbody>
                <tr>
                   <td>20211207SSS142</td>
                   <td>Mark</td>
                   <td>Otto</td>
                   <td>@mdo</td>
                </tr>
                <tr>
                   <td>20211207SSS142</td>
                   <td>Jacob</td>
                   <td>Thornton</td>
                   <td>@fat</td>
                </tr>
                <tr>
                   <td>20211207SSS142</td>
                   <td>Jacob</td>
                   <td>@twitter</td>
                   <td>@twitter</td>
                </tr>
             </tbody>
          </table>
       </div>
    </div>
    <div class="col-md-12 col-lg-12 my-4 ">
       <img src="../../assets/images/icons/next-prv.png" alt="" class="pagi-position">
    </div>
  </div>