<header class="header">
  <div class="col-md-12 co-lg-12 col-sm-12 col-xs-12 p-0">
     <div class="top-hdr">
        <p class="font white top-txt">भारत सरकार &nbsp; Ministry of Electronics & Information Technology,
           Government of India
        </p>
     </div>
     <div class="row pad-header">
        <div class="col-md-4 co-lg-4 p-0">
           <div class="d-flex mar-l-10 p-0">
              <img class="logo1" src="../assets/images/logo/image 9.png" alt="">
              <img class="logo2" src="../assets/images/logo/image 10.png" alt="">
           </div>
        </div>
        <div class="col-md-3 co-lg-3 p-0">
           <div class="d-flex mar-l-10 p-0">
              <p class="font mar-t-10 center f-s-24 bold white"><a class=" white" href="tel:1800 111 555 ">1800 111
                 555 </a>
              </p>
           </div>
        </div>
        <div class="col-md-3 co-lg-3 p-0">
           <div class="d-flex mar-l-10 p-0">
              <p class="font mar-t-10 f-s-24 bold"><a class=" white" href="mailto:helpdesk@nic.in">helpdesk@nic.in</a>
              </p>
           </div>
        </div>
        <div class="col-md-2 co-lg-2 p-0">
           <img class="logo3" src="../assets/images/logo/image 3.png" alt="">
           <p class="font bold center f-s-14 white">Service Request</p>
        </div>
     </div>
  </div>
</header>